@model LanParty.Web.Models.PageViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div class="panel">
    <div>
        <h1>@Model.Title</h1>
    </div>
    <div>
        <strong>@Model.Introduction</strong>
        <p>@Html.Raw(@Model.Contents)</p>
    </div>

    <div>
        <p>Author: @Model.Author</p>
    </div>
</div>