@model LanParty.Core.Domain.Booking
@{
    ViewBag.Title = "Bekräfta bokning";
}

<h2>Bekräfta bokning</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bokningsnummer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.Id)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Model.User.FirstName @Model.User.LastName (<span style="color: lightsalmon">@Model.UserId</span>)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.Position)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
    </dl>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            @Html.ActionLink("Bekräfta", "ConfirmBooking", "Seats", new { bookingId = @Model.Id}, new { @class = "btn btn-primary" } )
        </div>
    </div>
    <hr />
</div>