<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAN-party</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", false)
</head>

<body>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .navbar {
            color: black;
            background: -webkit-linear-gradient(#ff7920, #cb5304);
            background: -o-linear-gradient(#ff7920, #cb5304);
            background: -moz-linear-gradient(#ff7920, #cb5304);
            background: linear-gradient(#ff7920, #cb5304);
            background-color: #ff7920;
        }

        .navbar-brand {
            color: #fff !important;
            font-family: 'Audiowide', cursive;
        }

        .navbar-inverse {
            color: #fff !important;
        }

        .navbar-nav > li > a {
            color: #fff !important;
        }

        hr {
            border-color: #ff7920;
        }

        .btn {
            background-color: #ff7920;
            background: -webkit-linear-gradient(#ff7920, #cb5304);
            background: -o-linear-gradient(#ff7920, #cb5304);
            background: -moz-linear-gradient(#ff7920, #cb5304);
            background: linear-gradient(#ff7920, #cb5304);
            border-color: #ff6a00;
            color: #fff;
        }

            .btn:hover {
                background-color: #ff4903;
                color: #000;
                border-color: #ff7920;
            }

            .btn:active {
                background-color: #ff7920;
                background: -webkit-linear-gradient(#cb5304, #ff7920);
                background: -o-linear-gradient(#cb5304, #ff7920);
                background: -moz-linear-gradient(#cb5304, #ff7920);
                background: linear-gradient(#cb5304, #ff7920);
            }

        h1, h2, h3 {
            font-family: 'Audiowide', cursive;
        }

        .slideshow {
            height: 200px;
            margin-bottom: 10px;
        }

            .slideshow img {
                border-radius: 7px;
                background-color: #fff;
                padding-left: 10px;
                padding-right: 10px;
            }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top" style="">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MarknadsLAN2017", "Index", "Default", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*@{ Html.RenderAction("RenderMenu", "Default"); }*@

                    <li>@Html.ActionLink("Information", "About", "Default")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Default")</li>
                    <li>@Html.ActionLink("Sponsorer", "Sponsors", "Default")</li>
                    <li>@Html.ActionLink("Turneringar", "Tournaments", "Default")</li>

                    @if (Request.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Administrator") || User.IsInRole("Participant")))
                    {
                        <li>@Html.ActionLink("Boka", "Index", "Seats")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Editor"))
                    {
                        // Manage
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Manage
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("New Lan", "Create", "Lans")</li>
                                <li>@Html.ActionLink("Content", "Index", "ContentAdmin")</li>
                                <li>@Html.ActionLink("Page", "Index", "ContentAdmin")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        // Admin
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Admin
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>

                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h2>Sponsorer</h2>
                    <div class="slideshow">
                        @*<img class="slideshowimage img-responsive" src="~/Content/Images/Logos/byteshift.jpg" />*@
                    </div>
                    <p><a class="btn btn-default" href="/Default/Sponsors">Läs mer &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Simple CRM gives you a powerful way to build dynamic websites that gives you
                        full control over markup for enjoyable content management.
                    </p>
                    <p><a class="btn btn-default" href="#">Läs mer &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>@ViewBag.Title</h2>
                    <p>
                        Simple CRM gives you a powerful way to build dynamic websites that gives you
                        full control over markup for enjoyable content management.
                    </p>
                    <p><a class="btn btn-default" href="#">Läs mer &raquo;</a></p>
                </div>
            </div>
            <hr />
            <p>&copy; @DateTime.Now.Year - <i>MarknadsLAN2017</i></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var images = new Array(
                '/Content/Images/Logos/vmo.jpg',
                '/Content/Images/Logos/elajo.jpg',
                '/Content/Images/Logos/byteshift.jpg',
                '/Content/Images/Logos/plastprint.jpg',
                '/Content/Images/Logos/audiovideo.jpg',
                '/Content/Images/Logos/smal.jpg'); //260x200
            var nextimage = 0;

            function doSlideshow() {
                if ($('.slideshowimage').length != 0) {
                    $('.slideshowimage').fadeOut(1500, function () {
                        slideshowFadeIn();
                        $(this).remove()
                    });
                }
                else {
                    slideshowFadeIn();
                }
            }
            function slideshowFadeIn() {
                $('.slideshow').prepend($('<img class="slideshowimage img-responsive" src="' +
                    images[randomImage(images.length)] + '" style="display:none">').fadeIn(1500, function () {
                        setTimeout(doSlideshow, 1500);
                    }));
                if (nextimage >= images.length) {
                    nextimage = 0;
                }

                function randomImage(imagesLength) {
                    var min = 0;
                    return Math.floor(Math.random() * (imagesLength - min) + min);
                }

            }
            doSlideshow();
        });
    </script>

</body>
</html>
