<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAN-party</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .navbar {
            background-color: #ff7920;
            color: black;
        }

        .navbar-nav > li > a {
            color: #fff !important;
        }
        hr {
            border-color: #ff7920;
        }
        .btn {
            background-color: #ff7920;
            border-color: #ff6a00;
            color: #fff;
        }
        .btn:hover {
                background-color: #ff4903;
                color: #fff;
                border-color: #ff7920;
        }

    </style>
    <div class="navbar navbar-inverse navbar-fixed-top" style="">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MarknadsLAN", "Index", "Default", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*@{ Html.RenderAction("RenderMenu", "Default"); }*@

                    <li>@Html.ActionLink("Information", "About", "Default")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Default")</li>

                    @if (Request.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Crew") || User.IsInRole("Participant")))
                    {
                        <li>@Html.ActionLink("Boka", "Index", "Seats")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Editor"))
                    {
                        // Manage
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Manage
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("New Lan", "Create", "Lans")</li>
                                <li>@Html.ActionLink("Content", "Index", "ContentAdmin")</li>
                                <li>@Html.ActionLink("Page", "Index", "ContentAdmin")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        // Admin
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Admin
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>

                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <i>MarknadsLAN2017</i></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
